

<ion-header-bar class="bar-stable">
        <div class="bar bar-header">
            <button class="button button-icon icon ion-navicon"></button>
            <div class="title">Header Buttons</div>
            <button class="button button-clear button-positive">Edit</button>
        </div>
      </ion-header-bar>
<br><br><br><br>
<div class="list">
    <a class="item item-avatar" href="#">
      <img src="img/1.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>

<div class="list">
    <a class="item item-avatar" href="#">
      <img src="img/2.jpg">
      <h2>Ray</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>

<div class="list">
    <a class="item item-avatar" href="#">
      <img src="img/3.jpg">
      <h2>Winston</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>

<div class="list">
    <a class="item item-avatar" href="#">
      <img src="img/4.jpg">
      <h2>Egon</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>

<div class="list">
    <a class="item item-avatar" href="#">
      <img src="img/5.jpg">
      <h2>Bob</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>

<div class="list">
    <a class="item item-avatar" href="#">
      <img src="img/6.jpg">
      <h2>Billy</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>